*{
    margin:0;
    padding:0;
  font-family: "HP Simplified Light", "hpsimplified", "微软雅黑", "arial";
}
ul,li{
    list-style:none;
	
}
.clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0}
.clearfix{
    zoom:1;
	
}
.headerNav{
	margin-left: 70px;
}
.headerBox a{
    text-decoration: none;
    color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding:20px; 
	line-height: 72px;
}
.headerBox a:hover{
	background-color: rgba(255,255,255,0.2);
	text-decoration: none;
	color: #fff;
	padding-bottom: 26px;
	padding-top: 27px;
}
body{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    background-color: #fff;
    color:#000;
}

header{
    width:100%;
    min-width: 1300px;
    height:72px;
    background-color: #007dba;
}
header>ul{
    width:auto;
    height:72px;
    margin:0 auto;
}
.headerBox li{
    float: left;
    line-height: 72px;
    height: 72px;
}
.headerLogo{
    width:42px;
    height:42px;
	margin-left: 30px;
	vertical-align: middle;
	margin-right: 6px;
	
}
.headerText{
    line-height: 72px;
    vertical-align: top;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
}
.headerBox li .headerNav li{
    padding:0 6px;
}
#loadName{
	
	cursor: pointer;
	color:#fff;
	font-size: 24px;
	line-height: 72px;
	float: right;
	margin-right: 50px;
	height: 72px;
	font-size: 16px;
}
#loadName .loadName-icon{
	display: inline-block;
	width: 30px;
	text-align: center;
}

#loadName  .loadName-icon i{
	font-size: 16px;
}





/*.loadMask*/
.loadMask{
    width:100%;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0, 0.4);
    z-index: 999;
    display:none;
}
.loadMask .loadBox{
    width:360px;
    height:240px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-120px;
    margin-left:-180px;
    background-color:#fff;
}
.loadMask .loadBox .loadTexe{
    width:94%;
    margin:10px auto;
}
.loadMask .loadBox .loadLogo{
    width:30px;
    height:30px;
}



/*contentBox*/
.contentBox{
    width:100%;
	background-color:#f7f7f7;
}

.contentBox .navList{
    width:240px;
    min-width:100px;
    float:left;
	background-color:#fff;
	border:none;
	border-right: 1px solid #ccc;
}
.topList{
	height: 40px;
	line-height: 40px;
	padding-left: 24px;
	border-bottom: 1px solid #f2f2f2;
	cursor:pointer;
}
.topList_txt{
	font-size: 16px;
	font-weight: 700;
}
.topList_icon{
	float: right;
	margin-right: 20px;
	color: #999;
	font-size: 18px;
	font-weight: 700;
}
.navListLi{
	height: 360px;
}
.navListLi li{
	cursor:pointer;
}
.contentBox .navListLi .navChildren{
    display:none;
	
}
.contentBox .navListLi .navChildren .navChildrenList{
    display:none;
}
.contentBox .navLeftBottom .navLeftTitle{
    width: 100%;
    border: none;
    height: 40px;
    background-color: #007DBA;
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.navTitle{
	height: 40px;
	line-height: 40px;	
	padding-left: 10px;
	border-bottom: 1px solid #f2f2f2;
}
.navChildrenList li{
	height: 32px;
	line-height: 32px;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	display: flex;
	padding-left: 30px;
}
.navChildrenList li:hover{
background-color: #0096d6;
color: #fff;
}
.navChildrenList li:hover i {
	color: #fff;}
.navChildrenList i{
	font-size: 16px;
	color: #0096d6;
	margin-right: 6px;
}

.navChildrenList span{
	font-size: 16px;
	line-height: 32px;
	margin-top: -2px;
}

.navChildrenTitle{
	height: 32px;
	line-height: 32px;
	padding-left: 20px;
}
.navChildrenTitle:hover{
	background-color: #0096d6;
	color: #fff;
}
.contentBox .navContent{
    width: calc(100% - 242px);
    float: left;
}
.navContent{
    /* border-left: 1px solid #ccc; */
}
.navListTap{
    padding-left:20px;
	height: 44px;
	background-color: #f2f2f2;
	text-align: center;
	
}
.navListTap li{
 	float:left;
	width:auto;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	text-align: center;
	align-items: center;
	margin-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 16px;
	cursor: pointer;
}
.navListTap i{
	margin-left: 14px;
	line-height: 40px;
	cursor:pointer;
}
#mainiframeBox{
	height: 717px;
}



#loadName{
	position: relative;
}
/*.signOutBox*/
.signOutBox{
	display:none;
	position: absolute;
    right: 20px;
    top: 64px;
    background-color: #fff;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    color: #333;
    border-radius: 4px;
	z-index: 99;
	line-height: initial;
	-moz-box-shadow: 0 1px 6px 1px  #ccc;
	-weblit-box-shadow: 0  1px 6px 1px #ccc;
	box-shadow: 0 1px 6px 1px #ccc;
}
.signOutBox .triangle{
	width: 0;
    height: 0;
    border-width: 0 6px 8px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -7px;
    right: 30px;
}
.signOutBox span{
    cursor: pointer;
    width: 100%;
    display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}
.signOutBox span:hover{
	color:#fff;
	background-color:#0096d6;
}

.navLeftBottom .container{
	width:100%;
	margin-top: 20px;
	margin-bottom:0;
}
.navLeftBottom .fitlerTime{
	display:none;
}
.navLeftBottom .container .col-md-4{
	width:128px;
	padding:0;
}
.navLeftBottom .container .input-group-addon{
	padding:4px;
}
.navLeftBottom .bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    width: 14em;
}
.navLeftBottom .bootstrap-datetimepicker-widget td span {
    width: 40px;
	height: 40px;
	line-height: 40px;
}
.navLeftBottom .input-group-addon {
    color: #0096d6;
    background-color: #fff;
}
.navLeftBottom .form-control{
	height:26px;
}
.navLeftBottom .dropdown-menu{
	padding:0;
}
.navLeftBottom .exexuteButton{
	text-align: center;
    border-radius: 15px;
    border: none;
    background-color: #0096d6;
    color: #fff;
    padding: 4px;
    margin: 0 auto;
    display: block;
    width: 100px;
}
.navListTap {
	margin:0;
}





















































